
html, body {
    margin: 0;
    padding: 0;
    .overflow-x: hidden; /* Prevent horizontal scrolling */
    .overflow-y: hidden;
}
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;  /* Make it responsive */
    height: 170px;
    background-color: rgb(186, 205, 205);
    margin: 0 auto;  /* Centers the footer */
}
.footercontainer{
    display: flex;
    justify-content: space-around;
}
.footercontainer nav ul{
    display: flex;
    width: 500px;
    list-style-type: none;
    justify-content: space-between;
}
.footercontainer nav ul li{
    display: flex;
    flex-direction: column;
}
.footercontainer nav ul li label{
    padding-left: 7px;
    transition: color 0.3s ease, font-weight 0.3s ease;
}
.footercontainer nav ul li label:hover{
    font-weight: bold;
    color: #174473;
    cursor: pointer;
}
.footer hr{
    width: 99%;
}
.socialmedia{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icons{
    display: flex;
    justify-content: space-between;
    width: 180px;
}

@media screen and (max-width:701px) {
    .footercontainer nav ul{
        width: 400px;
    }
}
@media screen and (max-width:601px) {
    .footercontainer nav ul{
        width: 300px;
    }
}