
.imgContennar img{
    width: 100vw;
    margin-top: 1rem;
}
.main{
    width: 100%;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}
.main h1{
    margin-bottom: 3rem;
}
.SearchContaner{
    width: 75%;
     margin: 0 auto; 
    display: flex;
    border: 1.9px solid #d8d7d7;
    padding:3rem;
    justify-content: space-around;
}
.SearchContaner input, select{
    width: 10rem;
    padding: 3px;
    margin-right: 1rem;
    border: 1.9px solid #d8d7d7;
}
.serchBtn{
    position: relative;
}
.serchBtn button{
    width: 6rem;
    background-color: rgb(250, 203, 115);
    padding: 6px;
    border-radius: 1rem;
    position: absolute;
    bottom: 5px;
    left: -2rem;
}
.sections{
    max-width: 70%;
    margin: 0 auto;
    justify-content: space-around;
   display:grid;
  grid-template-columns: 16rem 16rem 16rem;
}
.sectionContenars{
    width: 16rem;
    margin-bottom: 4rem;
     border:1.9px solid #a6a4a4 ;
     box-shadow: 0px 0px 15px #585555;
     transition: transform 0.4s ease-in-out;
}
.sectionContenars:hover{
    transform: scale(1.1); 
}
.sectionContenars img{
     width: 16rem;
    height:16rem; 
     display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
   background-color:rgb(213, 211, 209) ;
   border-radius: 7px;
   box-shadow: 0 0 20px rgb(199, 186, 174) ;
   transition: transform 0.5s ease-in-out;
}
.artstBtn button{
/* width: 50%;
padding: 0.5rem;
border-radius: 1rem;
margin-bottom: 1rem; */
   width: 100%;
    height: 200px;
}
.Errore{
    font-size: 2rem;
    color: red;
    font-family:'Courier New', Courier, monospace;
}

@media screen and (max-width:855px) {
      .body{
        width: 100vw;
        height: auto;
    }
    .imgContennar img{
    width: 100vw;
    margin-top: 1rem;
}
    .main{
        width: 100vw;
        margin: 0 auto;
    }
    .SearchContaner{
        width: 60%;
        height: 12rem;
        padding: 0;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 10rem 10rem;
    }

      .SearchContaner input, select{
        width: 10rem;
        display: block;

    }
      .SearchContaner h3{
        display: flex;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      .sections{
        width: 50%;
        display: grid;
        grid-template-columns: 15rem 15rem;
        /* position: relative;
        left: -4rem; */
        margin-bottom: 3rem;
    }
    .sectionContenars{
    width: 14rem;
     border:1.9px solid #a6a4a4 ;
     box-shadow: 0px 0px 15px #585555;
     transition: transform 0.4s ease-in-out;
}
.sectionContenars:hover{
    transform: scale(1.1); 
}
.sectionContenars img{
    width: 14rem;
    height:10rem;
}
.serchBtn button{
    width: 5rem;
    background-color: rgb(250, 203, 115);
    padding: 6px;
    border-radius: 1rem;
    position: absolute;
    bottom: 5px;
    left: 0rem;
}
}


@media screen and (max-width:580px) {
    .body{
        width: 100%;
    }
    .imgContennar img{
        width:100vw;
        height: auto;
    }
    .main{
        width: 80%;
        margin: 0 auto;
    }
    .SearchContaner{
        width: 40%;
        height: auto;
        display: block;
        padding: 2rem;
        border: 2px solid rgb(193, 186, 186);
    }
    .SearchContaner input, select{
        width: 80%;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .SearchContaner h3{
        display: flex;
        font-size: 1.3rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .serchBtn button{
        display: block;
        position: relative;
        justify-self:center;
        top: 1.5rem;
        width: 6rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
    .sections{
        width: 40%;
        display: block;
        position: none;
        left: 0;
    }
    .sectionContenars img{
        width:12rem;
        
    }
   .sectionContenars{
    width: 12rem;
    margin-bottom: 4rem;
   }
}